<footer class='bg-green-700 flex h-32 w-full items-center justify-between'>
    <div class='text-white flex flex-col p-4'>
        <a aria-label="pour allez sur la page mention légal" href="{{ path('app_mention') }}">Mentions légales</a>
        <a aria-label="pour allez sur la page aide" href="">Aide & FAQ</a>
        <a aria-label="pour allez sur la page des patenaires" href="">Partenaires</a>
    </div>
    <div class='flex flex-wrap p-4 items-center'>
        <a href="https://www.facebook.com" aria-label="pour allez sur la page x facebook" target="_blank" class="m-1 text-white text-2xl">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com" aria-label="pour allez sur la page x instagram" target="_blank" class="m-1 text-white text-2xl">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://twitter.com " aria-label="pour allez sur la page x twitter" target="_blank" class="m-1 text-white text-2xl">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    </div>
</footer>